*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #EBE7D8;
    --color-secondary: #FFC21E;
    --color-header-text:#986845;
    --color-nav: #986845;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247,88,66,0.4);
    --color-white: #fff;
    --color-light: rgba(255,255,255,0.7);
    --color-black: #000;
    --color-bg: #353130;
    --color-header-bg: #EBE7D8;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
    
}
html{
    height: 100%;
}
body{
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

/* Header styling */
header{
    display: flex;
    background: var(--color-header-bg);
    justify-content: space-between;
    padding: 10px 190px;
}
header nav{
    display: inline-block;
}
header nav ul {
    margin-top: 35px;
}
header nav ul li {
    color: var(--color-black);
    display: inline-block;
}
header nav ul li a{
    color: var(--color-nav);
    font-weight: 700;
    margin-right: 100px;
}
.logo-image{
    width: 100px;
    height: 100px;
}
.section{
    height: 100%;
}
/* Index Section */
.index-section{
    display: flex;
    padding: 10px 190px;
}
.left-side-container{
    width: 80%;
}
.right-side-container{
    width: 20%;
}
.right-side-container img{
    margin-left: 120px;
    opacity: 0.5;
}
.left-side-container h1{
    font-size: 700;
}
.copy-name{
    font-size: 90px;
    font-weight: 700;
}
.copy-name span{
    color: var(--color-secondary);
}
.copy-role{
    font-size: 90px;
    font-weight: 700;
}
.copy-headline{
    font-size: 30px;

}


/* About Section */
.about-section{
    background: #EBE7D8;
    display: flex;
}
.about-section-left-side{
    width: 50%;
}
.about-section-right-side{
    width: 50%;
}
.about-section-right-side h1, .left-side-container h1{
    color: var(--color-header-text);
}
.about-section-right-side p{
    font-size: 30px;
    color: var(--color-black);
    font-weight: 600;
}
/* Projects Section */
.projects-section{
    background: #848685;
}
/* Contacts Section */
.contacts-section{
    background: #383938;
}